<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Correios ToolKit</title>
</head>
<body>

<h1>Toolkit dos Correios</h1>
<h3>Em constantes atualizações para novas ferramentas</h3>

<!--<form action="cep-consulta" method="post" id="form1">
    <label for="cep">CEP:</label>
    <input type="text" id="cep" name="cep">
    <button type="submit" form="form1" value="Submit">Pesquisar</button>
</form>-->
<a href="/cep">Consulta de CEP</a><br/>
<a href="/rastreio">Rastreio de Encomendas</a><br/><br/>
<a href="https://becher.com.br/">Daniel Becher</a>

</body>
</html>
