<!DOCTYPE html>
<title>Correios ToolKit</title>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rastreio de Encomendas dos Correios</title>
</head>
<body>

<h1>Sistema de rastreamento de encomendas dos Correios</h1>
<h3>Digite no campo abaixo o código de rastreamento e clique em Pesquisar</h3>

<form action="rastreio-consulta" method="post" id="form1">
    <label for="codigorastreio">Código de Rastreio:</label>
    <input type="text" id="codigorastreio" name="codigorastreio">
    <button type="submit" form="form1" value="Submit">Pesquisar</button>
</form>

</body>
</html>